<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <title>Movies</title>
    <style>
        #site-title {
            margin: 0;
            line-height: 60px;
        }
    </style>
</head>

<body>
    <div class="content">
        <header>
            <h2 id="site-title">Movies</h2>
        </header>
        <a class="next-page" href="/index2">Part 2</a>
        <main>
            <div class="cards">
                <div class="card">
                    <h3>The Shawshank Redemption</h3>
                    <img src="https://thumbs.dfs.ivi.ru/storage4/contents/e/e/40b87f0f822c08d715ce2f1eddfadd.jpg" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Morgan Freeman</li>
                            <li>Andy Dufresne</li>
                            <li>Clansy Brown</li>
                            <li>Bob Gunton</li>
                            <li>William Sadler</li>
                            <li>Gil Bellows</li>
                            <li>Mark Rolston</li>
                            <li>James Whitemore</li>
                            <li>Brian Libby</li>
                            <li>Alfonso Freeman</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            Two imprisoned men bond over a number of years, finding solace and eventual redemption
                            through acts of common decency.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h3>The Hateful Eight</h3>
                    <img src="https://play-lh.googleusercontent.com/q2_c1f7g8vivAFIroNl3RUBdLlEEOaDYRZ6siSeZbvxJAzxzuCQm3gNHIboAM0YOq_Wr6Q" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Samuel L. Jackson</li>
                            <li>Kurt Russell</li>
                            <li>Jennifer Jason Leigh</li>
                            <li>Walton Goggins</li>
                            <li>Demián Bichir</li>
                            <li>Tim Roth</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            In the dead of a Wyoming winter, a bounty hunter and his prisoner find shelter in a cabin currently inhabited by a collection of nefarious characters.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h3>Titanic</h3>
                    <img src="https://play-lh.googleusercontent.com/560-H8NVZRHk00g3RltRun4IGB-Ndl0I0iKy33D7EQ0cRRwH78-c46s90lZ1ho_F1so" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Leonardo DiCaprio</li>
                            <li>Kate Winslet</li>
                            <li>Billy Zane</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h3>Gladiator</h3>
                    <img src="https://upload.wikimedia.org/wikipedia/en/f/fb/Gladiator_%282000_film_poster%29.png" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Russell Crowe</li>
                            <li>Joaquin Phoenix</li>
                            <li>Connie Nielsen</li>
                            <li>Oliver Reed</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h3>Inception</h3>
                    <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_FMjpg_UX1000_.jpg" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Leonardo DiCaprio</li>
                            <li>Joseph Gordon-Levitt</li>
                            <li>Ellen Page</li>
                            <li>Tom Hardy</li>
                            <li>Ken Watanabe</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h3>Troy</h3>
                    <img src="https://m.media-amazon.com/images/M/MV5BMTk5MzU1MDMwMF5BMl5BanBnXkFtZTcwNjczODMzMw@@._V1_FMjpg_UX1000_.jpg" />
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li>Julian Glover</li>
                            <li>Brian Cox</li>
                            <li>Nathan Jones</li>
                            <li>Adoni Maropis</li>
                            <li>Jacob Smith</li>
                            <li>Brad Pitt</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            An adaptation of Homer's great epic, the film follows the assault on Troy by the united Greek forces and chronicles the fates of the men involved.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            Project for web HSE
        </footer>
    </div>
</body>

</html>